<!DOCTPYE html>
<html>
  <head>
    <title>New User Registration</title>
  </head>

  <body>
    <div>
      <h3>Dear {{name}},</h3>
      <p>Thank you for registering for the Secure Digitalisation game.</p>
    </div>
  </body>
</html>
